body {
  font-family: 'Helvetica';
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

/* Top navbar area */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

div.nav-left {
  min-height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-left: 10px;
  height: 50px;
}

div.nav-right {
  min-height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

a.nav-link {
  color: seashell;
  margin: 0 10px;
}

/* Mission Section */
#mission {
  margin-top: 69px;
  width: 1200px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url('../images/img-mission-background.jpg');
  display: flex;
  align-items: center;
}

.mission-statement {
  background-color: black;
  width: 100%;
}

/* Tea of the month section */
#featured-tea {
  width: 1000px;
  margin: 100px auto 100px;
}

.top-images, .bottom-images {
  display: flex;
  justify-content: space-between;
}

.bottom-images {
  width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  display: inline-block;
  width: 300px;
}

.monthly-image {
  width: 100%;
  height: 200px;
}

.caption {
  margin-top: 10px;
}

/* Locations */
#locations {
  height: 500px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background: no-repeat center url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 1200px;
  margin-bottom: 15px;
}

.location-spaces {
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.location {
  background-color: black;
  width: 300px;
  opacity: 1;
}

/* Contact */
.contact {
  height: 200px;
  margin-bottom: 20px;
}

.contact-name {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 1.0em;
}

/* Footer */
footer {
  text-align: left;
}